@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}


.main-container {
    max-width: 100%;
    max-height: 300%;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* position: relative; */
}





.header {
    width: 100%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar {
    /* height: 15vw; */
    padding: 10px 2rem;
    background-color: #cc161d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.outerlogo {
    width: 25%;
    height: 80px;
    /* border: 1px solid green; */
}

.logo {

    /* padding-top: 2; */
    /* background-image: url(pngwing.com.png); */
    /* height: 145; */
    /* background-size: cover; */
    /* width: 100%; */
    /* padding: 1; */
    border: none;

    img {
        border: none;
        height: 100%;
    }
}

.searchbutton {
    /* padding: 15px; */

    background-color: #ffffff;
    color: white;
    border: 1px solid #fffefd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 100%;
    /* height: 44%; */
}

.searchbutton button {
    width: 100%;
    height: 100%;
    padding: 11px;
}

#search {
    /* padding-left: 100; */
    padding: 10px 17px;
    font-size: 16px;
    font-family: inherit;
    width: 300px;
    /* Increase width according to your preference */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid rgba(160, 160, 160, 0.525);
}

#search::placeholder {
    font-family: "Kanit", sans-serif;
}

.outer_search {
    display: flex;
    padding-left: 2rem;
    border: transparent;
    align-items: center;
    transition: 0.8s;
}

.outer_search :hover {
    border: #ccc;
}

/* .searchbutton button {
    border: 30 solid red;

} */

.hamburgerMenu {
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;

    i {
        color: #fffefd;
    }
}



/* .fa-solid fa-magnifying-glas{
    height: 10;
    width: 20;
    padding-left: 39;
} */

/* .outer_display{ */
/* display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5rem;
    gap:1.8rem;
    overflow: hidden;
    padding-left: 1.8%;
}
.outer_display img{
    width: 23.5%;
    transition: transform 0.4s ease-in;
}

.outer_display img:hover{
    transform: scale(1.2);
} */

.cardbox {
    /* margin-top: 10px;
    margin-left: 10px; */
    display: flex;
    width: 100%;
    height: 90vh;
    position: relative;
    top: 200px;
}

.maincard {
    /* padding-top: 30%; */
    width: 20%;
    height: 60%;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin:2rem; */
    /* display: flex-box;
    justify-content: center;
    align-items: center; */
    border: solid 5px rgb(0, 0, 0);
    margin: 3rem;
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    position: relative;

}


.cardimage img {
    width: 90%;
    height: 70%;
    /* flex-wrap: wrap; */
    border: solid #ffffff;
    border: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    /* margin-top: 1.5rem; */
    /* margin-left: 0.5rem; */
    z-index: 5;
    position: absolute;
    /* margin-right: 1.5rem; */
    top: 5%;
    ;
}

.cardimage {
    /* border: 2px solid; */
    width: 75%;
    height: 45%;
    /* border-radius: 4px; */
    /* border-color: #ffffff; */
    /* margin-left: 2.2rem; */
    /* margin-top: 10%; */
    border: solid 10px transparent;
    border-radius: 55%;
    position: relative;
    top: 5%;
    /* padding: 20px; */
    /* color:transparent; */
    /* font-family: inherit; */
    /* background: -webkit-linear-gradient(to right, #240b36, #c31432);
        /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(0deg, #240b36, #c31432); */
}

.infobox {
    position: relative;
    /* margin-top: 5%; */
    width: 75%;
    z-index: 5;
    height: 35%;
    /* border: 2px solid; */
    /* border-radius: 4px; */
    /* border-color: #fffeff; */
    /* margin-left: 2.2rem; */
    padding: 1rem;
}

.cardname {
    z-index: 80px;
    width: 90%;
    height: 45%;
    /* border: 2px solid; */
    /* border-radius: 4px; */
    /* border-color: #ffffff; */
    /* margin-left: 0.2rem; */
    font-size: 40px;
    color: #fffeff;

}

.cardinfo {

    width: 90%;
    height: 45%;
    /* border: 2px solid; */
    /* border-radius: 4px; */
    /* border-color: #ffffff; */
    /* margin-left: 0.2rem; */
    /* margin-top: 2%; */
    font-size: 18px;
    color: #fffeff;
}

.cardbuttonbox {
    margin-top: 5%;
    width: 75%;
    height: 5%;
    border: 2px solid;
    border-radius: 4px;
    border-color: #ffffff;
    /* margin-left: 2.2rem; */
    padding: 1rem;
    position: absolute;
    top: 85%
}

.cardimage {
    transition: all .72s ease-in-out;
}

.cardimage img {
    transition: all .72s ease-in-out;
}

.cardimage:hover {
    border-color: #240b36;
    border-radius: 35%;

    /* overflow: hidden; */
}

.cardimage img:hover {
    scale: 1.5
}

.textnumber {
    position: absolute;
    font-size: 15rem;
    /* display: grid; */
    /* z-index: 100px; */
    /* margin-bottom: 3rem; */
    text-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    /* margin-right: 3rem; */
    /* span {
        position: relative;
        right: -10%;
    } */

}


.cardimage:hover {
    /* color:#240b36;
} */
    transition: 2s;
}

.maincard:hover {
    border-color: #fffefd;
    border-radius: 3px;
    transition: 3s ease-out;
    /* transition: ease-out; */
}

/* #textnumber2 {
    position: absolute;
    left:0;


}

#cardimage2 {
    position: relative;
    /* margin-right: 3 rem; */
/* width: 75%; */
/* height: 45%; */
/* border-radius: 4px; */
/* border-color: #ffffff; */
/* margin-left: 2.2rem; */
/* margin-top: 10%; */
/* border: solid 10px transparent; */
/* border-radius: 55%; */
/* position: relative; */

/* #text1 {
    /* margin-right: 2rem; */

.slogan-container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-container h1 {
    font-size: 70px;
    border:#240b36 solid 2px;
}

.footer-container {
    position: relative;
    height: 10rem;
    width: 100%;
    /* border: solid 2px white; */
    background-color: #cc161d;
    top: 40vh;

}

.display-container {
    height: 100vh;
    width: 100%;
    position: inherit;
    background-image: url(assets\lance-asper-N9Pf2J656aQ-unsplash.jpg);
    background-size: cover;
        /* Cover the entire container */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */

}

.filler-container {
    height: 70vh;
    /* border: solid 2px #cc161d;
        border: solid 2px white;
} */
}

.display-container p {
    font-size: 70px;
    position: absolute;
    top: 144vh;
    right: 20%;

}

#gif-hotwheel {
    position: absolute;
    right: 14%;
    top: 136vh;
}

.membership img {
    position: absolute;
    top: 70vw;
    box-shadow: rgba(0, 0, 0, 0.471) 0px 5px 15px;
}

#subhead {
    font-size: 30px;
    position: absolute;
    top: 170vh;
    right: 21%;
}

.membership img :hover{
    transition: 3s;
    box-shadow: rgb(255, 255, 255) 0px 10px 15px;
    }

.lim-edition{
      position: absolute;
      bottom: 100%;
      font-size: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right:32%;
}

.display-container li{
    font-size: 30px;
        position: absolute;
        top: 178vh;
        right: 5%;
}